@charset "UTF-8";

@font-face {
  font-family: NotoSansKR, sans-serif;
  src: url('../etc/fonts/NotoSansKR-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: NotoSansKR, sans-serif;
  src: url('../etc/fonts/NotoSansKR-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
body{ font-family: NotoSansKR, sans-serif; }
html{
  font-weight: 400;
  font-size: 62.5%;
  color: #333;
  background-color: #E5E5E5;
}
#loadingPage{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:  center;
  width: 100vw;
  height: 100vh;
  background-color: #E5E5E5;
}
#loadingPage #loadingImgBox{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 3.8rem;
  font-weight: 900;
}
#loadingPage #loadingImgBox img{
  border: 3px solid #FA6363;
  border-radius: 20px;
}
#loadingPage #loadingImgBox p{
  position: absolute;
  bottom: 20%;
  font-size: 3.8rem;
  font-weight: 900;
}
/*
*main_layout style
*/
main{
  width: 100vw;
  height: 100vh;
}
main .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main .container .card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  width: calc(100% - 17%);
  height: calc(100% - 20%);
  box-sizing: border-box;
  border: 3px solid #FA6363;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}
main .container .card h1{
  margin-bottom: 20px;
  font-size: 6.0rem;
  font-weight: 600;
  color: #000;
}
main .container .card h1 strong{
  font-weight: 900;
}
main .container .card h2{
  margin-bottom: 66px;
  font-size: 2.8rem;
  font-weight: 700;
}
main .container .card h3{
  margin-top: -59px;
  margin-bottom: 22px;
  font-size: 2.2rem;
  font-weight: 500;
}
main .container .card p.question{
margin-bottom: 39px;
font-size: 2.8rem;
font-weight: 900;
line-height: 33px;
}
/*
* button style
*/
 .btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 54px;
  border: 1px solid #FA6363;
  border-radius: 130px;
  box-sizing: border-box;
  font-size: 2.6rem;
  letter-spacing: 0.03em;
  color: #FA6363;
 }
 .btn:hover{
  font-weight: 700;
  border: 0;
  background-color: #FA6363;
  color: #fff;
 }
 .on{
  animation: fadeIn .8s;
 }
 @keyframes fadeIn{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
 }
 /*
 radio Btn(yes or no)
 */
 .radio_box{
  display: flex;
  justify-content: center;
  gap: 27px;
 }
 input[type="radio"]{
  display: none;
 }
 input[type="radio"] + label{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 54px;
  border: 1px solid #FA6363;
  border-radius: 130px;
  box-sizing: border-box;
  font-size: 2.6rem;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 41px;
  color: #FA6363;
  cursor: pointer;
}
input[type="radio"]:hover + label
,input[type="radio"]:checked + label{
  font-weight: 700;
  border: 0;
  background-color: #FA6363;
  color: #fff;
} 

progress::-webkit-progress-bar{
  position: absolute;
  top: 20%;
  left: 53%;
  width: 350px;
  height: 30px;
  background-color: #f0f0f0;
  border: 3px solid #FA6363;
  border-radius: 15px;
  box-sizing: border-box;
}

progress::-webkit-progress-value{
  border-radius: 15px;
  background: #FA6363;
}

#last_img img{
  width: 218px;
  height: 309px;
}
#result{
  font-size: 4.2rem;
  font-weight: 900;
}
#subResult{
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: 700;
}
#subResult p{
  margin-bottom: 6px;
}
#reStart a{
  margin-top: 0;
}



 